/* styles.css */
body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #d2d8d9;
  }
  a{
  text-decoration: none;
  }
  @font-face {
    font-family: 'Mona-Sans';
    src: url('../fonts/Mona-Sans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Bold';
    src: url('../fonts/Mona-Sans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Mona-Sans Medium Italics';
    src: url('../fonts/Mona-Sans-MediumItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Bold Italics';
    src: url('../fonts/Mona-Sans-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Narrow';
    src: url('../fonts/Mona-Sans-RegularNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Narrow Semi-Bold';
    src: url('../fonts/Mona-Sans-SemiBoldNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Narrow Bold';
    src: url('../fonts/Mona-Sans-BoldNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Narrow Extra Bold';
    src: url('../fonts/Mona-Sans-ExtraBoldNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona-Sans Narrow Extra Bold Italics';
    src: url('../fonts/Mona-Sans-ExtraBoldNarrowItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Mona-Sans Narrow Black';
    src: url('../fonts/Mona-Sans-BlackNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Mona-Sans Narrow Black Italic';
    src: url('../fonts/Mona-Sans-BlackNarrowItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Navbar */ 
   #navbar{
    position: fixed;
    width: 100%;
    height: 6vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all ease .4s;
  }
  .navbar-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-scrolled{
    background: rgba(29, 29, 29, 0.08);
    backdrop-filter: blur(60px);
  }
  
  .menu-container{
    position: absolute;
    top: 0;
    opacity: 0;
    width: 45vw;
    height: 6vw;
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg,#2b372e,#31b94f);
    z-index: 90;
    transition: all ease .4s;
  }
  .nav-left{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .event-logo{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event-logo img{
    width: 100%;
    transition: all ease .4s;
  }
  .nav-scrolled .event-logo img{
    filter: brightness(0) invert(1);
  }
  .menu-active{
    top: 5vw;
    opacity: 1;
  }
  .menu-boxes{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .menu-drop{
    font-family: 'mona-sans narrow';
    font-size: 1.4vw;
    color: #fff;
    text-decoration: none;
  }
  .menu-super{
    padding: .2vw;
    border-radius: 50%;
    background: linear-gradient(to top,#2b372e,#31b94f);
    cursor: pointer;
    animation: rotate1 infinite linear 3s;
  }
  .menu-btn{
    padding: .7vw;
    border-radius: 50%;
    animation: rotate2 infinite linear 3s;
    background: linear-gradient(to left,#2b372e,#31b94f);
  }
  @keyframes rotate1 {
    0%{
      rotate: 0deg;
    }100%{
      rotate: 360deg;
    }
  }
  @keyframes rotate2 {
    0%{
      rotate: 0deg;
    }100%{
      rotate: -360deg;
    }
  }
  .nav-ul{
    position: absolute;
    margin: 0;
    width: 12vw;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: linear-gradient(to left,#2b372e,#31b94f);
    font-family: 'mona-sans narrow';
    gap: 1vw;
    top: 6vw;
  }
  .nav-ul a{
    width: 100%;
  }
  .nav-ul li{
    color: #fff;
    font-size: 1.2vw;
    list-style-type: none;
    width: 90%;
    padding: .5vw;
    border-radius: .2vw;
  }
  .nav-ul li:hover{
    background-color: #2b372e;
  }
  .menu-boxes i{
    font-size: 1vw;
  }
  .nav-1{
    display: none;
    left: 6vw;
  }
  .nav-2{
    display: none;
    left: 10vw;
    left: 19vw;
  }
  .nav-3{
    display: none;
    left: 26vw;
  }
  .hamburger {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
    transform: scaleX(-1);
    color: #fff;
  }
  .hamburger.is-sm {
    font-size: 1rem;
  }
  .hamburger.is-md {
    font-size: 1.5rem;
  }
  .hamburger.is-lg {
    font-size: 1.5rem;
  }
  .hamburger-line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 0.125em;
    border-radius: 0.125em;
    background: currentColor;
    transition: inherit;
  }
  .hamburger-line:nth-child(1) {
    top: 0.125em;
    width: 40%;
  }
  .hamburger.is-active .hamburger-line:nth-child(1), .w-nav-button.w--open .hamburger-line:nth-child(1) {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotateZ(-135deg);
  }
  .hamburger-line:nth-child(2) {
    top: 0.438em;
  }
  .hamburger.is-active .hamburger-line:nth-child(2), .w-nav-button.w--open .hamburger-line:nth-child(2) {
    right: 50%;
    width: 0;
  }
  .hamburger-line:nth-child(3) {
    top: 0.75em;
    width: 70%;
  }
  .hamburger.is-active .hamburger-line:nth-child(3), .w-nav-button.w--open .hamburger-line:nth-child(3) {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotateZ(135deg);
  }
  
  
  
  
  /* Hero Section */
  .mob-logo{
    display: none;
  }
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  .hero-vid{
    position: absolute;
    width: 101%;
    top: 0;
  }
  .hero-color-patch{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #c11829f1; */
    mix-blend-mode:hard-light;
    z-index: 1;
  }
  .hero-patch{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to top, #d2d8d9 5%, #ffffff73 20%);
  }
  .hero-container{
    width: 80%;
    height: 80vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 2vw;
  }
  .tag-line-cont{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .tag-line{
    padding: .5vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Mona-Sans Narrow Extra Bold Italics';
    background: linear-gradient(to right,#2b372e, #31b94f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tag-span1{
    font-size: 4vw;
    line-height: 4vw;
  }
  .tag-span2{
    font-size: 5.2vw;
    line-height: 4.3vw;
  }
  .date-place{
    color: #2b372e;
    display: flex;
    flex-direction: column;
  }
  .date-time{
    display: flex;
    gap: .5vw;
  }
  .date{
    font-family: 'Mona-Sans Narrow Black';
    display: flex;
    flex-direction: column;
    line-height: 4.5vw;
  }
  .d{
    font-size: 2.35vw;
    line-height: 2.1vw;
  }
  .d sup{
    font-size: 1.2vw;
  }
  .y{
    font-size: 5.2vw;
    line-height: 5.2vw;
  }
  .time{
    display: flex;
    font-size: 2.1vw;
    gap: 0.7vw;
    flex-direction: column;
  }
  .time span{
    padding: .2vw .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b372e;
    color: #fff;
    font-family: 'Mona-Sans Narrow Bold';
  }
  .place{
    font-size: 1.45vw;
    line-height: 1vw;
    font-family: 'mona-sans';
  }
  .organize-cont{
    display: flex;
    justify-content: space-between;
  }
  .approve{
    width: 12vw;
    height: fit-content;
  }
  .b-connect-logo{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .logo-name{
    color: #025585;
    font-size: .9vw;
    font-family: 'Mona-Sans';
    font-weight: 100;
  }
  .b-connect-logo img{
    width: 10vw;
  }
  .hero-btn-cont{
    display: flex;
    justify-content: space-between;
       
  }
  .hero-buttons{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
  }
  #navbar .hero-btn{
    width: 10vw;
    height: 2vw;
    border-radius: .5vw;
  }
  .hero-btn{
    width: 12vw;
    height: 2.5vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    font-size: 1.2vw;
    color: #fff;
    background: #fff6e6;
    font-family: 'Mona-Sans Narrow Black';
    border: none;
    cursor: pointer;
    transition: all ease .4s;
  }
  .hb1{
    background: linear-gradient(to right,#31b94f,#2b372e);
  }
  .hb1:hover{
    background: linear-gradient(to left,#31b94f,#2b372e);
  }
  .hero-btn:hover{
    transform: translateY(-2px);
  }
  .hb2:hover{
    background: #fff;
  }
  .hb2 span{
    background: linear-gradient(to right, #31b94f, #2b372e );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .socials{
    display: flex;
    width: auto;
    gap: 1.5vw;
    align-items: end;
    justify-content: center;
  }
  .s-logo{
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    padding: 2px;
    background-color: #025585;
    transition: all ease .4s;
    color: #fff;
  }
  .s-logo:hover{
    transform: translateY(-2px);
    background-color: #fff;
    color: #025585;
  }
  /* countdown */
  .countdown{
    position: absolute;
    right: 0;
    top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    width: auto;
    height: auto;
    border-radius: 1vw;
  }
  .count-b {
    position: relative;
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 1vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #2b372e87;
  }
  .c1st:after{
    display: none;
  }
  .dig{
    font-family: "Mona-Sans Narrow Black";
    font-size: 1.4vw;
  display: flex;
  color: #000000;
  }
  .count-t{
    font-family: "Mona-Sans Narrow";
    font-size: 1vw;
    color: #fff;
  }
  .count-cl{
    color: #fff;
  }
  .dig_class::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1vw;
    z-index: -1;
    mix-blend-mode: color-burn;
  }
  .dig_class{
    z-index: 5;
    font-size: 2.3vw;
    line-height: 2.5vw;
    font-family: "Mona-Sans Narrow Black";
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  height: auto;
  position: relative;
    border-radius: 0.7vw;
    color: #fff;
  }

  /* overview */
  #overview{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 4vw 0;
  }
  #numbers{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .num-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .num-box{
    position: relative;
    width: 19vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    border: 2px solid #fff;
    background-color: #fff;
    color: #2b372e;
    overflow: hidden;
  }
  .more{
    font-size: 1.6vw;
    font-family: 'Mona-Sans Narrow';
    z-index: 1;
  }
  .num-num{
    line-height: 7vw;
    font-size: 7.5vw;
    z-index: 1;
  }
  .num-num span{
    font-family: 'Mona-Sans Narrow Black';
  }
  .num-des{
    font-size: 1.8vw;
    line-height: 1.7vw;
    text-align: center;
    font-family: 'Mona-Sans Narrow';
    z-index: 1;
  }
  .np1{
    background-image: url("/assets/images/num-img-200-and-more-cybersecurity-delegates.webp");
  }
  .np2{
    background-image: url("/assets/images/num-img-20-and-more-cybersecurity-experts.webp");
  }
  .np3{
    background-image: url("/assets/images/num-img-saudi-government-speakers.webp");
  }
  .np4{
    background-image: url("/assets/images/num-img-business-to-business-meetings.webp");
  }
  .num-patch{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    opacity: .3;
    filter: blur(2px);
}
.overview-container{
    width: 80%;
    height: auto;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4vw 0;
    border-radius: 1.5vw;
    background: linear-gradient(to right,#31b94f,#2b372e);
}
.title{
    font-family: 'Mona-Sans Narrow Black';
    font-size: 5.5vw;
}
#overview .title{
    width: 80%;
    color: #fff;
}
.overview-container p{
    width: 80%;
    font-family: 'mona-sans';
    color: #fff;
    font-size: 1.4vw;
    line-height: 2vw;
    text-align: justify;
}
.overview-container p span{
    font-family: 'mona-sans bold';
}
.overview-container p:last-child{
    font-family: 'mona-sans bold';
}
/* gallery */
#gallery{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.over-pics{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.over-pic{
    position: relative;
    width: 100%;
    height: 22vw;
    border-radius: 1.5vw;
    border: #000 solid 1px;
    overflow: hidden;
}
.over-pic img{
    width: 100%;
    height: auto;
    z-index: 0;
    transition: all ease .4s;
}
.over-pic .icon{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #cdcdcd95;
  opacity: 0;
  transition: all ease .4s;
}
.over-pic .icon svg{
  width: 3.5vw;
}
.over-pic:hover .icon{
  opacity: .8;
  transform: scale(1.1);
}
.over-pic:hover  img{
  transform: scale(1.1);
}
/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 19;
}
.popup-img{
  border-radius: 1vw;
}
.popup img {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 5vw;
  right: 10vw;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #31b94f;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.prev { left: 10px; 
  transition: all ease .4s;
}
.next { right: 10px; 
  transition: all ease .4s;
}
.prev:hover{
  background-color: #2b372e;
}
.next:hover{
  background-color: #2b372e;
}
/* feature discussion*/
#feature{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1vw;
}
.f-box{
  height: 25vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2b372e;
  border: 2px solid #fff;
  border-radius: 1.5vw;
}
.f-name{
  font-size: 5.5vw;
  line-height: 4.5vw;
  font-family: 'Mona-Sans Narrow Black';
  text-align: center;
}
.f-des{
  width: 70%;
  font-size: 1.8vw;
  font-family: 'mona-sans';
  text-align: center;
}
.f2 .f-name{
  line-height: 2.6vw;
}
.f-name span{
  font-size: 3vw;
}
.f-box:hover{
  color: #fff;
  border-color: #31b94f;
  background: linear-gradient(to right,#31b94f,#2b372e);
}
/* who will you meet? */
#who{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vw 0;
}
.who-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5vw 0;
  gap: 1vw;
  border-radius: 1.5vw;
}
.who-names{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.who-name{
  font-family: 'Mona-Sans Narrow';
  width: 50%;
  font-size: 2vw;
  text-align: center;
}
.wn1{
  width: 40%;
}
.wn2{
  width: 50%;
}
.wn22{
  display: none;
}
.who-cont{
  width: 90%;
  display: flex;
  height: 30vw;
  justify-content: space-between;
}
.target-boxes{
  width: 44.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  }
  .job-boxes{
    width: 54.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 1px;
  }
  .t-box{
    display: flex;
    gap: .5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c231e;
    border: 1px #cdcdcd solid;
    transition: all ease .4s;
  }
  .t-icon{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .t-icon svg{
    fill: #afc097;
    width: 65%;
    transition: all ease .4s;
  }
  .t-des{
    font-family: 'mona-sans narrow';
    color: white;
    font-size: 1.2vw;
    line-height: 1.2vw;
    width: 90%;
    text-align: center;
  }
  .t-box:hover{
  background-color: #afc097;
  }
  .t-box:hover svg{
  fill: #000;
  transform: rotateY(180deg);
  }
  .t-box:hover .t-des{
    color: #000;
  }
  .job-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5vw;
  background-color: #1c231e;
  border: 1px solid #afc097;
  transition: all ease .4s;
  }
  .job-box:hover{
  background-color: #afc097;
  }
  .job-box:hover .j-icon img{
  filter: brightness(0) invert(0);
  transform: rotateY(180deg);
  }
  .j-icon{
  width: 50%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .j-icon img{
  width: 85%;
  fill: #afc097;
  transition: all ease .4s;
  }
  .j-des{
  width: 70%;
  text-align: center;
  color: #fff;
  font-size: 1vw;
  height: 3.5vw;
  font-family: 'mona-sans narrow';
  transition: all ease .4s;
  }
  .job-box:hover .j-des{
    color: #000;
  }
  /* keynote speaker */
  #keynote{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .keynote-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 3vw 0;
    border-radius: 2vw;
    background-color: #fff;
  }
  .k-spk{
    display: flex;
    width: 90%;
    gap: 2vw;
  }
  .spk-img{
    width: 25vw;
    height: 25vw;
    display: flex;
    align-items: end;
    justify-content: end;
    background: linear-gradient(to right,#31b94f,#2b372e);
    border-radius: 2vw;
    overflow: hidden;
  }
  .spk-img img{
    width: 100%;
  }
  .k-spk-name{
    font-family: 'mona-sans narrow bold';
    font-size: 5vw;
  }
  .k-spk-des{
    font-family: 'Mona-Sans';
    font-size: 2vw;
  }
  .k-spk-comp{
    font-size: 2vw;
    font-family: 'mona-sans bold';
  }
  .k-des{
    width: 90%;
    font-family: 'mona-sans';
    font-size: 1.5vw;
    text-align: justify;
  }
  .spk-details{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .k-des span{
    font-family: 'mona-sans bold';
  }
  /* SPEAKERS */
  #speakers{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
  }
  .speaker-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .speaker-boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
  }
  .spk-box{
    position: relative;
    width: 19vw;
    min-height: 35vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #fff;
    border-radius: 2vw;
    text-align: center;
  }
  #speakers .spk-img{
    width: 19vw;
    height: 19vw;
  }
  .spk-name{
    font-family: 'mona-sans narrow bold';
    font-size: 2.2vw;
    line-height: 2.2vw;
    padding: 2vw 0 0 0;
  }
  .spk-job{
    font-family: 'mona-sans';
    font-size: 1.3vw;
    padding: 1vw 0;
  }
  .spk-comp{
    font-family: 'mona-sans bold';
    font-size: 1.3vw;
    padding: 0 0 2vw 0;
  }
  .spk-box:hover .spk-img{
    background: linear-gradient(to right,#fff,#fff);
  }
  .spk-box:hover{
    background: linear-gradient(to right,#31b94f,#2b372e);
    color: #fff;
  }
  #view-all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    line-height: 2.5vw;
    transition: all ease .4s;
    color: #1c231e;
  }
  .spk-box:hover #view-all{
    transform: scale(1.05);
    line-height: 2.8vw;
    color: #fff;
  }
  
  .view{
    background: none;
    justify-content: center;
  }
  .spk-view{
    width: 2vw;
    height: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .v{
    font-family: 'mona-sans narrow';
    font-size: 2.5vw
  }
  .s{
    font-family: 'mona-sans narrow black';
    font-size: 3vw;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
  }
  /* why exhibit */
  #exhibit{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exhibit-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .ex-des{
    font-size: 2vw;
    font-family: 'mona-sans';
    text-align: center;
  }
  .ex-t-boxes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }
  .ex-t-box{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    border: 2px solid #fff;
    border-radius: 2vw;
  }
  .ex-t-icon{
    width: 6vw;
    height: 6vw;
    transition: all ease .4s;
  }
  .ex-t-des{
    font-size: 3.8vw;
    line-height: 3.3vw;
    font-family: 'mona-sans narrow black';
    transition: all ease .4s;
  }
  .ex-bg-boxes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5vw;
    padding: 1vw 0;
  }
  .ex-t-box:hover{
    background-color: #2b372e;
    color: #fff;
    fill: #FFF;
    border-color: #2b372e;
  }
  .eb1{
    background-image: url(../images/why-exhibit/why-exhibit-cyber-next-saudi-arabia-01.webp);
  }
  .eb2{
    background-image: url(../images/why-exhibit/why-exhibit-cyber-next-saudi-arabia-02.webp);
  }
  .eb3{
    background-image: url(../images/why-exhibit/why-exhibit-cyber-next-saudi-arabia-03.webp);
  }
  .eb4{
    background-image: url(../images/why-exhibit/why-exhibit-cyber-next-saudi-arabia-04.webp);
  }
  .eb5{
    background-image: url(../images/why-exhibit/why-exhibit-cyber-next-saudi-arabia-05.webp);
  }
  .ex-bg-box{
    position: relative;
    height: 20vw;
    border-radius: 2vw;
    display: flex;
    align-items: end;
    justify-content: start;
    font-size: 3.5vw;
    border: 2px solid #fff;
    font-family: 'mona-sans narrow black';
    line-height: 3vw;
    background-size: 100%;
    overflow: hidden;
    background-position: center;
  }
  .ex-bg-patch{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#fff,#ffffff00);
  }
  .ex-bg-des{
    z-index: 1;
    color: #2b372e;
    padding-bottom: 2vw;
    padding-left: 3vw;
  }
  .ex-last{
    grid-area: 3 / 1 / 4 / 3;
    justify-content: start;
    background-position: 0vw -9vw;
  }
  .ex-bg-box:hover{

  }
  /* why exibit */
  #exhibit{
    width: 100%;

  }


  /* Sponsors Section */
  .sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
    gap: 1vw;
    padding: 4vw 0;
  }
  .spon-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    column-gap: .5vw;
  }
  .spon-heading {
    font-family: 'Mona-Sans Narrow Black';
    font-size: 5vw;
    color: white;
  }
  .spon-cont{
    width: 100%;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    border-radius: 1.5vw;
    overflow: hidden;
  }
  .spon-boxes{
    display: flex;
    gap: .5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .spon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 0 1.5vw 1.5vw;
  }
  .spon-box img{
    width: 70%;
  }
  .spon-head{
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    padding: 1vw 0;
    color: #ffffff;
    background: linear-gradient(to right,#31b94f,#2b372e);
    font-family: 'mona-sans bold';
  }
  .spon2 .spon-box{
    width: 100%;
    height: 18vw;
  }
  .spon1 .spon-box{
    width: 100%;
    height: 25vw;
  }
  .spon3 .spon-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }
  .sb2{
    grid-area: 2 / 1 / 3 / 3;
  }
  .sb-border{
    border-radius: 1.5vw;
  }
  .spon3 .spon-box{
    height: 17vw;
  }
  .spon4{
    height:30vw;
  }
  .spon4 .spon-boxes{
    width: 100%;
    display: flex;
    gap: .5vw;
    align-items: center;
    justify-content: center;
  }
  .spon4 .spon-box{
    width: 15.395vw;
    height: 12vw;
  }
  .spon5 .spon-box{
    width: 100%;
    height: 10vw;
  }
  .spon-split{
    width: 49.65%;
  }
  .spon-split .spon-box{
    width: 100%;
    height: 11vw;
  }
  .media{
    align-items: center;
    background-color: white;
  }
  .media .spon-boxes{
    width: 70%;
    gap: 3vw;
    padding: 4vw;
  }
  .media .spon-box{
    width: 15vw;
  }
  .media .spon-box img{
    width: 100%;
  }

   /* Agenda Section */
   .agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
    gap: 1vw;
  }
  .agn-heading {
    font-family: 'Mona-Sans Narrow Black';
    font-size: 5vw;
    color: white;
  }
  .agn-cont {
    display: flex;
    width: 80%;
    gap: 1vh;
  }
  .swiper-slide{
    height: fit-content !important;
  }
  .ag-heads{
    width: 80%;
    display: flex;
  }
  .ag-head{
    width: 50%;
  }
  .ah22{
    display: none;
  }
  .ag-page{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5vw;
    justify-content: start;
    height: auto;
  }
  .ag-swiper{
    height: 38vw;
    overflow: hidden;
  }
  .ag-carousel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5vw;
  }
  .ag-head{
    font-family: 'mona-sans narrow';
    font-size: 2.4vw;
    text-align: center;
    margin-bottom: 1vw;
  }
  .ag-blur {
    position: absolute;
    width: 100%;
    height: 16vw;
    bottom: 7.5vw;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 100;
    background: linear-gradient(to top, #000, #2b372e00);
  }
  .ag-blur-left{
    position: absolute;
    width: 100%;
    height: 55vw;
    bottom: 0vw;
    left: 0;
    backdrop-filter: blur(2px);
    background: linear-gradient(to top, #000, #00000000);
  }
  .ag-inv .agn-desc{
    color: #fff;
  }
  .agn-desc p{
    margin: 0;
  }
  .ag-button{
    height: 1vw;
    background: linear-gradient(to right,#31b94f,#2b372e);
    transition: all ease .4s;
  }
  .ag-button:hover{
    transform: translateY(-2px);
    background: linear-gradient(to left,#31b94f,#2b372e);
  }
  .agn-box {
    display: flex;
    background: linear-gradient(to right,#31b94f,#2b372e);
    border-radius: 1.5vw;
  }
  .agn-time {
    font-family: 'Mona-Sans';
    font-size: 1vw;
    color: #ffffff;
    width: 25%;
    padding: 2vw 0;
    display: flex;
    justify-content: center;
  }
  .agn-desc {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 75%;
    padding:  1vw;
    align-items: start;
    justify-content: center;
  }
  .desc-main {
    font-family: 'Mona-Sans Bold';
    font-size: 1.15vw;
  }
  .desc-sub {
    font-family: 'Mona-Sans';
    font-size: 0.85vw;
    padding-left:  1vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
    margin: 2px 0;
    padding-left: 3px;
  }
  .agn-desc>p{
    padding: 0.5vw 0;
    margin: 0;
    font-family: 'Mona-Sans';
    font-size: .9vw;
  }
  .agn-desc span{
    font-family: 'Mona-Sans Medium Italics';
    font-size: .85vw;
   
    margin-left: 1vw;
  }
  .agn-time2 {
    font-family: 'Mona-Sans Bold';
    font-size: 1vw;
    background-color: #d9d9d9;
   
    width: 15%;
    padding: 2vw;
  }
  .agn-desc2 {
    display: flex;
    flex-direction: column;
    color: #d9d9d9;
    width: 85%;
    padding: 2vw;
  }
  .desc-sub2 {
    font-family: 'Mona-Sans';
    font-size: 0.75vw;
  }
  /* AWARDS */
  #awards{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vw 0;
    gap: 2vw;
  }
  .awards-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
  }
  .award-box{
    width: 310px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../awards-bg.png);
    background-size: cover;
    transition: all ease .4s;
  }
  .award-box:hover{
    width: 315px;
    height: 334px;
  }
  .award-bg{
    height: auto;
  }
  .awards-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .edition{
    width: 100%;
    height: 15%;
    font-family: 'mona-sans narrow black';
    font-size: 1.8vw;
  }
  .aw-logo-box{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
  }
  .aw-logo{
    width: 35%;
    transition: all ease .4s;
  }
  .award-box:hover .aw-logo{
    filter: drop-shadow(1px 1px 2px #00000094);
  }
  .edition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    line-height: 1.4vw;
    color: #fff;
  }
  .ed1{
    font-size: 1.1vw;
  }
  .ed2{
    font-size: 2.1vw;
    letter-spacing: 1px;
  }
  .aw-name{
    font-family: 'Mona-Sans Narrow Black Italic';
    font-size: 1.7vw;
    line-height: 1.7vw;
    text-align: center;
    color: #2b372e;
  }
  #awards .hero-btn{
    margin-top: 2vw;
    letter-spacing: 0.5px;
  }

  /* Contact Section */
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3vw 0;
    overflow: hidden;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2vw;
  }
  .contact-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    text-decoration: none;
  }
  .logo-text {
    font-family: 'Mona-Sans';
    font-size: 0.9vw;
    color: #025585;
    margin-left: 2.1vw;
  }
  .logo-img img {
    width: 10vw;
  }
  .contact-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .contact-box{
    border-radius: 0.5vw;
    width: 100%;
    background: linear-gradient(to right, #2b372e8a, #2b372e8a);
    transition: all 0.5s ease;
  }
  .contact-box:hover {
    background: linear-gradient(to right,#31b94f,#2b372e);
    transform: scale(1.05);
  }
  .contact-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    gap: 1vh;
    color: white;
    text-decoration: none;
  }
  .contact-title {
    font-family: 'Mona-Sans Narrow Black';
    font-size: 2.3vw;
  }
  .contact-email {
    font-family: 'Mona-Sans';
    font-size: 1.2vw;
  }
  .contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2vh;
  }
  .map-cont{
    width: 100%;
    height: 18vw;
    background: url(../images/venue-movenpick-hotel-and-resort.webp);
    background-size: 105%;
    background-position: -1vw -4vw;
    border-radius: 1vw;
    filter: grayscale(1);
    background-repeat: no-repeat;
    transition: all ease .4s;
  }
  .map-cont:hover{
    filter: grayscale(0.6);
  }
  .footer-box1 {
    display: flex;
    gap: 1vw;
  }
  .social-box {
    color: #fff;
    text-decoration: none;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  .social-box:hover {
    transform: translateY(-4px);
    background-color: #31b94f;
    color: white;
}
  .footer-box2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-decoration: none;
    color: white;
  }
  .box2-text1 {
    font-family: 'Mona-Sans Narrow Black';
    font-size: 1.5vw;
  }
  .box2-text2 {
    font-family: 'Mona-Sans';
    font-size: 1vw;
  }
  .footer-box3 {
    font-family: 'Mona-Sans';
    font-size: 0.75vw;
    color: #000;
  }
  .footer-box3 a {
    text-decoration: none;
    color: #000;
  }



   /* Mobile Responsive */
   @media screen and (max-width: 450px) {
    body,html{
      overflow-x: hidden;
    }
    #navbar .hero-buttons{
      display: none;
    }
    #navbar {
      position: fixed;
      width: 100%;
      height: 25vw;
    }
    .navbar-container {
      justify-content: end;
    }
    .menu-super {
      padding: 1vw;
    }
    .menu-btn {
      padding: 3vw;
    }
    .menu-active {
      top: 4vw;
      left: 2vw;
      height: 95vh;
      width: 100%;
      opacity: 1;
  }
  .menu-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.menu-drop {
  font-size: 7.5vw;
}
.menu-boxes i {
  font-size: 5vw;
}
.nav-ul{
width: 85vw;
}
.nav-ul li {
font-size: 4.5vw;
  width: 90%;
  padding: 2.5vw;
  border-radius: 1vw;
}
.nav-1 {
left: 6vw;
top: 45vh;
}
.nav-1 {
left: 6vw;
top: 45vh;
}
.nav-2 {
left: 6vw;
top: 55vh;
}
.nav-3 {
left: 6vw;
top: 60vh;
}

  /* Hero Section */
  .hero-vid {
    width: 250%;
    top: 50vw;
}
  .mob-logo{
    position: absolute;
    display: block;
    width: 50%;
    top: 45vw;
    left: 12vw;
  }
  .event-logo{
    display: none;
  }
  .hero {
    height: 100vh;
    padding: 0 0vw;
  }
  .hero-container {
    height: 100%; 
    justify-content: center;
    gap: 4vw;
  }
  .tag-line-cont {
    justify-content: center;
    align-items: start;
    gap: 4vw;
    flex-direction: column;
}
.tag-span1 {
  font-size: 10vw;
  line-height: 11vw;
}
.tag-span2 {
  font-size: 10vw;
  line-height: 6vw;
}
.tag-span3 {
font-size: 5vw;
line-height: 6vw;
}
.count-b {
  width: 13vw;
  height: 13vw;
  gap: 1vw;
  border-radius: 1vw;
}
.dig_class{
font-size: 5vw;
}
.count-t {
font-size: 3.4vw;
}
.countdown {
  width: auto;
  position: relative;
  padding: 0;
  border-radius: 2vw;
  gap: 2vw;
  top: 0;
  align-items: start;
  flex-direction: row;
  justify-content: start;
}
.count-b:after {
font-size: 4vw;
left: -2.25vw;
top: 2.2vw;
}
.numbers-container {
justify-content: center;
gap: 4vw;
flex-direction: column;
}
.num-cont {
  width: auto;
}
.num-box {
  width: 16vw;
  height: 19.5vw;
  padding: 2vw;
}
.more {
  font-size: 3.5vw;
}
.num-num {
  line-height: 8.2vw;
  font-size: 6.5vw;
}
.num-des {
  font-size: 3.5vw;
  line-height: 3.8vw;
}
.date {
  line-height: 8.5vw;
}
.d {
  font-size: 6vw;
  line-height: 9vw;
}
.y {
  font-size: 13vw;
  line-height: 8vw;
}
.d sup {
  font-size: 4vw;
}
.time span {
  padding: 1.3vw 3vw;
}
.time {
  font-size: 4.05vw;
  gap: 1vw;
  justify-content: end;
}
.date-time {
  gap: 1.5vw;
}
.place {
  font-size: 3.75vw;
  line-height: 7vw;
}
.approve {
  width: 25vw;
}
.b-connect-logo {
  width: auto;
  gap: 2vw;
}
.logo-name {
  font-size: 2.5vw;
}
.b-connect-logo img {
  width: 25vw;
}
.hero-buttons {
  gap: 11vw;
}
.hero-btn {
  width: 35vw;
  height: 7.5vw;
  border-radius: 2vw;
  font-size: 4vw;
}
.hero-btn-cont {
  flex-direction: column;
  align-items: start;
  gap: 4vw;
}
.s-logo {
width: 5vw;
height: 5vw;
font-size: 3.5vw;
padding: 5px;
}
.socials {
gap: 4vw;
}
.title {
  font-size: 8.5vw;
}
/* numbers */
.num-container {
  width: 90%;
  flex-wrap: wrap;
  gap: 4vw;
}
.more {
  font-size: 3.8vw;
}
.num-box {
  width: 38vw;
  height: 38vw;
  padding: 2vw;
}
.num-num {
  line-height: 8.2vw;
  font-size: 13.5vw;
}
.num-des {
  font-size: 4.5vw;
  line-height: 4.2vw;
}
/* overview */
.overview-container {
  width: 90%;
}
.overview-container p {
  width: 90%;
  font-size: 3.3vw;
  line-height: 4vw;
}
#gallery{
  gap: 4vw;
}
.over-pics {
  width: 90%;
}
.over-pic{
  height: 48vw;
  border-radius: 2vw;
}
/* feature discussion */
.feature-container {
  width: 90%;
}
.f-name {
  font-size: 6vw;
  line-height: 5.5vw;
}
.f-box {
  height: 35vw;
  gap: 2vw;
  border-radius: 3vw;
}
.f-name span {
  font-size: 5vw;
}
.f2 .f-name {
  line-height: 5vw;
}
.f-des {
  width: 90%;
  font-size: 3.2vw;
}
/* who will you meet */
.who-container {
  width: 90%;
  flex-direction: column;
  height: auto;
}
.who-cont {
  width: 90%;
  flex-direction: column;
  height: auto;
}
.who-name {
  width: 50%;
  font-size: 4vw;
}
.wn2{
  display: none;
}
.wn22{
  width: 100%;
}
.target-boxes {
  display: flex;
  width: 100%;
  gap: 1px;
  flex-wrap: wrap;
}
.t-box {
  width: 25.5vw;
  height: 27vw;
}
.t-des {
  font-size: 3.2vw;
  line-height: 3vw;
}
.job-box {
  width: 25.5vw;
  height: 26vw;
}
.job-boxes {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.j-des {
  width: 80%;
  font-size: 3vw;
  height: 3.5vw;
}
/* keynote-speaker */
.keynote-container {
  width: 90%;
}
.spk-img {
  width: 35vw;
  height: 35vw;
}
.k-spk-name {
  font-size: 5vw;
}
.k-spk-des {
  font-size: 3.4vw;
}
.k-spk-comp {
  font-size: 3.4vw;
}
.k-des {
  width: 90%;
  font-family: 'mona-sans';
  font-size: 3.5vw;
}
/* speaker section */
.speaker-container {
  width: 90%;
}
.spk-box {
  position: relative;
  width: 43vw;
  min-height: 70vw;
}
#speakers .spk-img {
  width: 43vw;
  height: 43vw;
}
.spk-name {
  font-size: 5.2vw;
  line-height: 4.7vw;
}
.spk-job {
  font-size: 3vw;
}
.spk-comp {
  font-size: 3.3vw;
}
.v {
  font-size: 4vw;
}
.s {
  font-size: 5vw;
}
#view-all {
  line-height: 5.5vw;
}
.spk-box:hover #view-all{
  line-height: 6vw;
}
/* WHY EXHIBIT */
.exhibit-container {
  width: 90%;
}
.ex-des {
  font-size: 3.4vw;
}
.ex-t-boxes {
  grid-template-columns: repeat(1, 1fr);
}
.ex-t-des {
  font-size: 4.8vw;
  line-height: 4.3vw;
}
.ex-t-icon {
  width: 10vw;
  height: 10vw;
}
.ex-t-box {
  height: 16vw;
  gap: 2.5vw;
}
.ex-bg-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: .5vw;
  padding: 1vw 0;
}
.ex-bg-box {
  height: 43vw;
  border-radius: 2vw;
  font-size: 5vw;
  line-height: 4.5vw;
}
/* sponsors */
.spon-container {
  width: 90%;
}
.spon-head {
  width: 100%;
  font-size: 3.3vw;
}
.spon5 .spon-box {
  width: 100%;
  height: 16vw;
}
/* agenda */
.ag-swiper {
  height: 80vw;
}
.ag-page {
  position: relative;
  width: 100%;
}
.agn-cont {
  flex-direction: column;
  width: 90%;
}
.agn-time {
  font-size: 2.5vw;
}
.desc-main {
  font-size: 3.05vw;
}
.desc-sub {
  font-size: 2.45vw;
}
.agn-desc span {
  font-size: 2.15vw;
}
.agn-desc>p {
  font-size: 1.9vw;
}
.ag-head {
  font-size: 4vw;
  width: 100%;
}
.ah2{
  display: none;
}
.ah22{
  display: block;
}
.ag-blur {
  height: 40vw; 
  bottom: 0vw;
  background: linear-gradient(to top, #1c231e 10%, #2b372e00);
}
/* awards */
.awards-container {
  width: 90%;
  gap: 9vw;
}
.award-box {
  width: 170px;
  height: 180px;
}
.ed1 {
  font-size: 2.1vw;
}
.ed2 {
  font-size: 3.7vw;
}
.aw-name {
  font-size: 2.7vw;
  line-height: 2.7vw;
}
.edition {
  line-height: 2.6vw;
}
 /* Contacts Section */
 .contact-container {
  gap: 5vw;
    width: 90%;
}
.footer-box1 {
  display: flex;
  gap: 4vw;
}
.map-cont {
  width: 100%;
  height: 28vw;
}
.logo-text {
  font-size: 3vw;
}
.logo-img img {
  width: 30vw;
}
.contact-cont {
  flex-direction: column;
  gap: 2vw;
}
.contact-box {
  width: 70%;
}
.contact-box a {
  gap: 0vh;
}
.contact-title {
  font-size: 6vw;
}
.contact-email {
  font-size: 3vw;
}
.social-box {
  padding: 4vw;
  font-size: 5vw;
}
.footer-box3 {
  font-size: 2vw;
}






}




  /* Tab Responsive */
  @media screen and (min-width: 768px) and (max-width: 1024px) {


    #navbar .hero-buttons{
      display: none;
    }
    #navbar {
      position: fixed;
      width: 100%;
      height: 17vw;
    }
    .menu-super {
      padding: 1vw;
    }
    .menu-btn {
      padding: 3vw;
    }
    .menu-active {
      top: 4vw;
      left: 2vw;
      height: 46vh;
      width: 100%;
      opacity: 1;
  }
  .menu-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.menu-drop {
  font-size: 3.5vw;
}
.menu-boxes i {
  font-size: 2.4vw;
}
.nav-ul{
width: 40vw;
}
.nav-ul li {
font-size: 2.5vw;
  width: 90%;
  padding: 2.5vw;
  border-radius: 1vw;
}
.nav-1 {
left: 6vw;
top: 45vh;
}
.nav-1 {
left: 6vw;
top: 17vh;
}
.nav-2 {
left: 6vw;
top: 27vh;
}
.nav-3 {
left: 0;
top: 45vh;
}
.navbar-container {
justify-content: end;
}
  /* Hero Section */

  .mob-logo{
    display: block;
    width: 65%;
  }
  .event-logo{
    display: none;
  }
  .hero {
    height: 100vh;
    padding: 0 0vw;
  }
  .hero-container {
    height: 100%; 
    justify-content: center;
    gap: 4vw;
  }
  .tag-line-cont {
    justify-content: center;
    align-items: start;
    gap: 2vw;
    flex-direction: column;
}
.tag-span1 {
  font-size: 6vw;
  line-height: 6vw;
}
.tag-span2,.tag-span3 {
font-size: 4vw;
line-height: 5vw;
}
.count-b {
width: 10vw;
height: 10vw;
}
.dig_class{
font-size: 3.5vw;
}
.count-t {
font-size: 2.4vw;
}
.countdown {
  width: auto;
  position: relative;
  padding: 0;
  border-radius: 2vw;
  gap: 2vw;
  top: 0;
  align-items: start;
  flex-direction: row;
  justify-content: start;
}

.date {
  line-height: 8.5vw;
}
.d {
  font-size: 6vw;
  line-height: 9vw;
}
.y {
  font-size: 13vw;
  line-height: 8vw;
}
.d sup {
  font-size: 4vw;
}
.time span {
  padding: 1.3vw 3vw;
}
.time {
  font-size: 4.05vw;
  gap: 1vw;
  justify-content: end;
}
.date-time {
  gap: 1.5vw;
}
.count-b:after {
font-size: 4vw;
left: -2.25vw;
top: 2.2vw;
}
.numbers-container {
justify-content: center;
gap: 4vw;
}
.num-cont {
width: auto;
}
.num-box {
width: 10vw;
height: 11.5vw;
padding: 2vw;
}
.more {
font-size: 2.2vw;
}
.num-num {
line-height: 4.2vw;
font-size: 4vw;
}
.num-des {
font-size: 2.4vw;
line-height: 2.8vw;
}
.date {
line-height: 8.5vw;
}
.d {
  font-size: 3.4vw;
  line-height: 2.2vw;
}
.y {
font-size: 7.5vw;
}
.d sup {
font-size: 4vw;
}
.time span {
padding: 1vw 2vw;
font-size: 2.4vw;
width: 8vw;
}
.time {
font-size: 4.05vw;
gap: 1vw;
justify-content: center;
transform: translate(0, -1vw);
}
.date-place {
  gap: 1vw;
}
.date-time {
gap: 1.5vw;
}
.place {
font-size: 3.15vw;
}
.approve {
width: 25vw;
}
.b-connect-logo {
width: auto;
gap: 2vw;
}
.logo-name {
font-size: 2.5vw;
}
.b-connect-logo img {
width: 25vw;
}
.hero-buttons {
  gap: 10vw;
}
.hero-btn {
width: 35vw;
height: 7.5vw;
border-radius: 2vw;
font-size: 4vw;
}
.hero-btn-cont {
flex-direction: column;
align-items: start;
gap: 4vw;
}
.s-logo {
width: 5vw;
height: 5vw;
font-size: 3.5vw;
padding: 5px;
}
.socials {
gap: 4vw;
}
.title {
  font-size: 7.5vw;
}
/* numbers */
.num-container {
  width: 90%;
  flex-wrap: wrap;
  gap: 4vw;
}
.more {
  font-size: 3.8vw;
}
.num-box {
  width: 38vw;
  height: 38vw;
  padding: 2vw;
}
.num-num {
  line-height: 8.2vw;
  font-size: 9vw;
}
.num-des {
  font-size: 4vw;
  line-height: 4.2vw;
}
/* overview */
.overview-container {
  width: 90%;
}
.overview-container p {
  width: 90%;
  font-size: 2.4vw;
  line-height: 3vw;
}
#overview .title {
  width: 90%;
}
#gallery{
  gap: 4vw;
}
.over-pics {
  width: 90%;
}
.over-pic{
  height: 48vw;
  border-radius: 2vw;
}
/* feature discussion */
.feature-container {
  width: 90%;
  padding: 2vw 0;
  gap: 2vw;
}
.f-name {
  font-size: 6vw;
  line-height: 5.5vw;
}
.f-box {
  height: 35vw;
  gap: 2vw;
  border-radius: 3vw;
}
.f-name span {
  font-size: 5vw;
}
.f2 .f-name {
  line-height: 5vw;
}
.f-des {
  width: 90%;
  font-size: 3.2vw;
}
/* who will you meet */
.who-container {
  width: 90%;
  flex-direction: column;
  height: auto;
}
.who-cont {
  width: 90%;
  flex-direction: column;
  height: auto;
  gap: 4vw;
}
.who-name {
  width: 50%;
  font-size: 4vw;
}
.wn2{
  display: none;
}
.wn22{
  width: 100%;
}
.target-boxes {
  display: flex;
  width: 100%;
  gap: 1vw;
  flex-wrap: wrap;
}
.t-box {
  width: 25.5vw;
  height: 27vw;
}
.t-des {
  font-size: 3.2vw;
  line-height: 3vw;
}
.job-box {
  width: 25.5vw;
  height: 26vw;
}
.job-boxes {
  width: 100%;
  flex-wrap: wrap;
  display: flex; 
  gap: 1vw;
}
.j-des {
  width: 80%;
  font-size: 3vw;
  height: 3.5vw;
}
/* keynote-speaker */
.keynote-container {
  width: 90%;
}
.spk-img {
  width: 35vw;
  height: 35vw;
}
.k-spk-name {
  font-size: 5vw;
}
.k-spk-des {
  font-size: 3.4vw;
}
.k-spk-comp {
  font-size: 3.4vw;
}
.k-des {
  width: 90%;
  font-family: 'mona-sans';
  font-size: 2.6vw;
}
/* speaker section */
.speaker-container {
  width: 90%;
}
.spk-box {
  position: relative;
  width: 43vw;
  min-height: 70vw;
}
#speakers .spk-img {
  width: 43vw;
  height: 43vw;
}
.spk-name {
  font-size: 5.2vw;
  line-height: 4.7vw;
}
.spk-job {
  font-size: 3vw;
}
.spk-comp {
  font-size: 3.3vw;
}
.v {
  font-size: 4vw;
}
.s {
  font-size: 5vw;
}
#view-all {
  line-height: 5.5vw;
}
.spk-box:hover #view-all{
  line-height: 6vw;
}
/* WHY EXHIBIT */
.exhibit-container {
  width: 90%;
}
.ex-des {
  font-size: 3.4vw;
}
.ex-t-boxes {
  grid-template-columns: repeat(1, 1fr);
}
.ex-t-des {
  font-size: 4.8vw;
  line-height: 4.3vw;
}
.ex-t-icon {
  width: 10vw;
  height: 10vw;
}
.ex-t-box {
  height: 16vw;
  gap: 2.5vw;
}
.ex-bg-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: .5vw;
  padding: 1vw 0;
}
.ex-bg-box {
  height: 43vw;
  border-radius: 2vw;
  font-size: 5vw;
  line-height: 4.5vw;
}
/* sponsors */
.spon-container {
  width: 90%;
}
.spon-head {
  width: 100%;
  font-size: 3.3vw;
}
.spon5 .spon-box {
  width: 100%;
  height: 16vw;
}
/* agenda */
.ag-swiper {
  height: 80vw;
}
.ag-page {
  position: relative;
  width: 100%;
}
.agn-cont {
  flex-direction: column;
  width: 90%;
}
.agn-time {
  font-size: 2.5vw;
}
.desc-main {
  font-size: 3.05vw;
}
.desc-sub {
  font-size: 2.45vw;
}
.agn-desc span {
  font-size: 2.15vw;
}
.agn-desc>p {
  font-size: 1.9vw;
}
.ag-head {
  font-size: 4vw;
  width: 100%;
}
.ah2{
  display: none;
}
.ah22{
  display: block;
}
.ag-blur {
  height: 40vw; 
  bottom: 0vw;
  background: linear-gradient(to top, #1c231e 10%, #2b372e00);
}
/* awards */
.awards-container {
  width: 90%;
  gap: 9vw;
}
.ed1 {
  font-size: 2.1vw;
}
.ed2 {
  font-size: 3.7vw;
}
.aw-name {
  font-size: 2.7vw;
  line-height: 2.7vw;
}
.edition {
  line-height: 2.6vw;
}
    /* Contacts Section */
    .contact-container {
      gap: 5vw;
    }
    .footer-box1 {
      display: flex;
      gap: 4vw;
  }
    .logo-text {
      font-size: 3vw;
    }
    .logo-img img {
      width: 30vw;
    }
    .contact-cont {
      flex-direction: column;
      gap: 2vw;
    }
    .contact-box {
      width: 70%;
    }
    .contact-box a {
      gap: 0vh;
    }
    .contact-title {
      font-size: 6vw;
    }
    .contact-email {
      font-size: 3vw;
    }
    .social-box {
      padding: 2vw;
    }
    .footer-box3 {
      font-size: 2vw;
    }




  }

  